<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="angular.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/CheckoutPage.css" />	
<link rel="stylesheet" type="text/css" media="all" href="../CSS/CheckoutPage.css" />
<title>🚚E-SurfAndShop/Item/Checkout</title>
</head>

<body>
<div id="buyformcontainer">
	<div id="hd1" class="hsd">
        <a href="../E-SurfAndShop Landing Page" class="header">Download App</a>
        <a href="" class="header">Prime User Login</a>
        <a href="" class="header">Help Center?</a>
    </div>
	<div id="hd2" class="hsd">
    <a href="MainHomePage.html"><img class="logo" src="../../Documents/ASSETS/buy page/Asset 1.png" height="50%" /></a>    <p class="headersecuritytext">100% Payment Protection, Easy Returns Policy</p>
    </div>
        <div id="hd3" class="hsd">
            <div id="hd3container1">
                <div id="hd3sd1" class="hsd">
                    <button class="circlecheck1"><img height="15px" src="../../Documents/ASSETS/buy form/Asset 7.png" /></button>
                    <p class="blockname1">1. LOGIN</p>
                    <p class="blockdetail1">shopping@lorem.com</p> 
                    </div>
                <div id="hd3sd2" class="hsd">
                    <button class="circlecheck2"><img height="15px" src="../../Documents/ASSETS/buy form/Asset 7.png" /></button>
                    <p class="blockname2">2. DELIVERY ADDRESS</p>
                    <p class="blockdetail2">Customer Name<br />Block 57,lovely Professional University,NH1,Phagwara<br />Phagwara - 144411 Punjab<br />9572656205</p> 
                </div>
                <div id="hd3sd3" class="hsd">
                    <div id="hd3sd3ssd1" class="hsd">
                        <p class="blockname3">3. REVIEW ORDER</p>
                    </div>
                    <div id="hd3sd3ssd2" class="hsd">
                        <p class="address">We have pre-selected your address i.e. "Lovely professional university,Jalandhar,144411,Punjab"</p>
                        <a class="changeaddress" href="">Change Address</a>
                    </div>
                    <div id="hd3sd3ssd3" class="hsd">
                        <p class="blockname4">Item Details</p><p class="blockname5">Quantity</p><p class="blockname6">Delivery Time</p><p class="blockname7">Subtotal</p>
                    </div>
                    <div id="hd3sd3ssd4" class="hsd">
                        <p class="noofitems">1 Item</p>
                    </div>
                    <div id="hd3sd3ssd5" class="hsd">
                    	<div id="hd3sd3ssd5sssd1">
                        <center><img class="itemimage" src="../../Documents/ASSETS/buy form/unnamed.png" height="80px" /></center>
                        </div>
                        <div id="hd3sd3ssd5sssd2">
                        <p class="addeditemname">Redmi Note 5 Pro (Blue,64 GB)<br />(4 GB RAM)</p>
                        <button class="movetowishlistbutton">Move To Wishlist</button>
                        <button class="removeitembutton">Remove Item</button>
                        </div>
                        <div id="hd3sd3ssd5sssd3">
                        <p class="quantity">
				 <div ng-app="">
                        		<button id="plusbutton" class="quantitybutton" ng-click="counter= counter+1">+</button>
                                <p> {{counter}}
                               <button id="minusbutton" class="quantitybutton" ng-click="counter= counter-1">-</button>
                            </div>    
                                
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                
                        <script>
                                    var xy="";
                                    var data1 ={
                                        "sdate" : "8th To",
                                        "edate" : "12th November 2020",
                                        }
                                    
                               var data2 = '{"sdate" : "8th November 2020" ,"edate" :"12th November 2020"}'
                               data1.edate='12th November 2020'
                                    document.write(data1["sdate"] + ' ')
                                var d=JSON.parse(data2)
                                
                                document.write(d.edate)
                                </script>  

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <script>
                                    var x="";
                                    var data ={
                                        "price" : "14500",
                                        "currency" : "RS",
                                        }
                                    
                                var data2 = '{"price" : "14,500" ,"currency" :"RS"}'
                                  data.price='14,500'
                                    document.write(data["currency"] + ' ')
                                var d=JSON.parse(data2)
                                document.write(d.price)
                                </script>  
                        </div>
                        
                    </div>
                    <div id="hd3sd3ssd6" class="hsd">
                    <p class="promocodetext">Have a promo code ? <input class="promocodetextbox" type="text" /></p>
                    <p class="totalpricelebel">You Pay:</p><p class="totalprice">Rs 14,549</p>
                    <button class="promocodeapplybutton">APPLY</button><a href="PaymentPage.html"><button class="proceedtopaymentbutton">PROCEED TO PAYMENT</button></a>
                    </div>
                </div>
                <div id="hd3sd4" class="hsd">
                <p class="blockname8">4. MAKE PAYMENT</p>
                </div>
            </div>
        
        <div id="hd3sd5" class="hsd">
        <img src="../../Documents/ASSETS/buy form/Asset 6.png" width="100%" height="100%"  />
        </div>
        <div id="hd3sd6" class="hsd">
        <img src="../../Documents/ASSETS/buy form/Asset 5.png" width="100%" height="100%"  />
        </div>
        <div id="hd3sd7" class="hsd">
        <img src="../../Documents/ASSETS/buy form/Asset 4.png" width="100%" height="100%"  />
        </div>
    </div>
    
    
    
</div>
</body>
</html>
